html{
  font-size: 20px;
}
#title{
  font-family: lobster;
  text-shadow: 6px 6px 6px #aaa;
}

body{
  text-align: center;
  font-family: Cambay;
  background-color:	#FFE4E1; 
  font-size: 25px;
   line-height: 1.7; 
}

h1 {
  padding: 30px;
  color: #DC143C;
 border: 3px solid black;
  background: #FFC0CB; 
  text-align: center;
  margin-right: 150px;
  margin-left: 150px;
}
img {
  max-height: 550px;
  max-width: 800px;
}

  
#img-caption {
  font-size: 15px;
}
#main{
  margin: 5px 10px;
  padding: 20px;
  text-align: center;
}

#headline{
  color: #ff6699;
  margin: 50px 0px;
  text-align: center;
  font-family: lobster;
  text-shadow: 4px 4px 4px #aaa;
}

ol{
  margin: 10px 90px;
  text-align: justify;
}
h3{
  font-size: 20px;
  color: #A52A2A;
}
